@model ModeMan.Ecommerce.Entities.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItems)
        </dt>
        <dd class="col-sm-10">
            @foreach(var orderItem in Model.OrderItems)
            {
                <td>@orderItem.Product.Name</td>
                <td>@orderItem.UnitPrice</td>
                <td>@orderItem.TotalPrice</td>
                <td>@orderItem.Count</td>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
